
                                                     /* sc-component-id: sc-bdVaJa */
                                                 .htJilG {
                                                     display: none;
                                                     text-align: center;
                                                     position: fixed;
                                                     bottom: 50px;
                                                     right: 0px;
                                                     left: 0px;
                                                     z-index: 999;
                                                 }

@media (max-width: 999px) {
    .htJilG {
        display: block;
    }
}

.htJilG > button {
    height: 80px;
    padding: 0 30px;
    border-radius: 45px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background-color: rgba(255, 59, 48, 1.0);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

/* sc-component-id: sc-bwzfXH */

/* sc-component-id: sc-htpNat */

/* sc-component-id: sc-bxivhb */

/* sc-component-id: sc-ifAKCX */

/* sc-component-id: sc-EHOje */

/* sc-component-id: sc-bZQynM */

/* sc-component-id: sc-gzVnrw */

/* sc-component-id: sc-htoDjs */

/* sc-component-id: sc-dnqmqq */

/* sc-component-id: sc-iwsKbI */

/* sc-component-id: sc-gZMcBi */

/* sc-component-id: sc-gqjmRU */

/* sc-component-id: sc-VigVT */

/* sc-component-id: sc-jTzLTM */

/* sc-component-id: sc-fjdhpX */

/* sc-component-id: sc-jzJRlG */

/* sc-component-id: sc-cSHVUG */

/* sc-component-id: sc-kAzzGY */

/* sc-component-id: sc-chPdSV */

/* sc-component-id: sc-kgoBCf */

/* sc-component-id: sc-kGXeez */

/* sc-component-id: sc-kpOJdX */
.dyQVVw {
    position: absolute;
    background-color: rgba(255, 255, 255, 1.0);
    min-width: 180px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    top: auto;
    bottom: 100%;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 8%);
    border-radius: 0.28571429rem 0.28571429rem 0 0;
    border: 1px solid rgba(34, 36, 38, .15);
    padding: 20px 0;
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 0;
    pointer-events: none;
}

/* sc-component-id: sc-dxgOiQ */
.eSXFEi {
    padding: 15px 35px;
    font-size: 18px;
    display: block;
    white-space: nowrap;
    color: rgba(255, 59, 48, 1.0);
    line-height: 1;
    cursor: pointer;
    border-radius: 4px;
}

.eSXFEi:hover {
    background-color: rgba(242, 242, 247, 1.0);
}

@media (max-width: 999px) {
    .eSXFEi {
        font-size: 21px;
        padding-top: 25px !important;
        padding-bottom: 25px !important;
    }
}

.eSXFEi > .icon {
    margin-right: 10px;
}

.hEwctr {
    padding: 15px 35px;
    font-size: 18px;
    display: block;
    white-space: nowrap;
    color: inherit;
    line-height: 1;
    cursor: pointer;
    border-radius: 4px;
}

.hEwctr:hover {
    background-color: rgba(242, 242, 247, 1.0);
}

@media (max-width: 999px) {
    .hEwctr {
        font-size: 21px;
        padding-top: 25px !important;
        padding-bottom: 25px !important;
    }
}

.hEwctr > .icon {
    margin-right: 10px;
}

/* sc-component-id: sc-ckVGcZ */
.doNOSw {
    height: 1px;
    background-color: rgba(60, 60, 67, 0.29);
    margin: 5px 15px;
}

/* sc-component-id: sc-jKJlTe */

/* sc-component-id: sc-eNQAEJ */

/* sc-component-id: sc-hMqMXs */

/* sc-component-id: sc-kEYyzF */

/* sc-component-id: sc-kkGfuU */
.ceHePS {
    text-align: center;
    padding: 40px 0 20px;
    color: rgb(59, 131, 192);
    position: relative;
    z-index: 1;
    height: 162px;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    width: 100%;
}

/* sc-component-id: sc-iAyFgw */
.bltFAd {
    font-size: 14px;
    -webkit-transition: opacity 0.8s ease;
    transition: opacity 0.8s ease;
    color: rgba(60, 60, 67, 0.6);
}

/* sc-component-id: sc-hSdWYo */
.hrxpGp {
    height: 70px;
    width: 100%;
    background-image: url(/pos/static/media/cloudshop.56e609f0.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

/* sc-component-id: sc-eHgmQL */
.tHpLG {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    opacity: 0;
    pointer-events: none;
}

.tHpLG.open {
    opacity: 1;
    pointer-events: auto;
}

.tHpLG.open > .modal {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.eSeWpw {
    position: fixed;
    background-color: rgba(255, 255, 255, 1.0);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    opacity: 0;
    pointer-events: none;
}

.eSeWpw.open {
    opacity: 1;
    pointer-events: auto;
}

.eSeWpw.open > .modal {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/* sc-component-id: sc-cvbbAY */
.bdLLNJ {
    background-color: rgba(255, 255, 255, 1.0);
    -webkit-transition: -webkit-transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-animation: 0.2s XxSbn ease;
    animation: 0.2s XxSbn ease;
    border-radius: 10px;
    overflow: hidden;
    max-width: 96%;
    max-height: 96%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.bdLLNJ.fullscreen {
    width: 96%;
    min-height: 86%;
    max-width: 1200px;
}

.bdLLNJ.medium {
    width: 700px;
}

.bdLLNJ.tiny {
    width: 500px;
}

/* sc-component-id: sc-jWBwVP */

/* sc-component-id: sc-brqgnP */
.gQYviS {
    padding: 10px 20px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
}

/* sc-component-id: sc-cMljjf */
.hnHZvw {
    padding: 20px;
}

/* sc-component-id: sc-jAaTju */
.TJNEH {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 40px;
}

/* sc-component-id: sc-jDwBTQ */

/* sc-component-id: sc-gPEVay */
.irfYBL {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.irfYBL > .button {
    margin: 0 !important;
}
                                                        /* sc-component-id: sc-iRbamj */

                                                        /* sc-component-id: sc-jlyJG */

                                                        /* sc-component-id: sc-gipzik */

                                                        /* sc-component-id: sc-csuQGl */

                                                        /* sc-component-id: sc-Rmtcm */

                                                        /* sc-component-id: sc-bRBYWo */

                                                        /* sc-component-id: sc-hzDkRC */

                                                        /* sc-component-id: sc-jhAzac */

                                                        /* sc-component-id: sc-fBuWsC */

                                                        /* sc-component-id: sc-fMiknA */
                                                    .fWVKfn {
                                                        display: -webkit-box;
                                                        display: -webkit-flex;
                                                        display: -ms-flexbox;
                                                        display: flex;
                                                        -webkit-box-pack: justify;
                                                        -webkit-justify-content: space-between;
                                                        -ms-flex-pack: justify;
                                                        justify-content: space-between;
                                                    }

.fWVKfn > .button {
    margin: 0 !important;
}

/* sc-component-id: sc-dVhcbM */
.byyHGr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.byyHGr > .input {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 10px;
}

.byyHGr > .button {
    margin: 0;
    width: 47px;
}

/* sc-component-id: sc-eqIVtm */
.WBOTo > span {
    font-size: 0.68em;
    color: rgba(0, 0, 0, 0.7);
}

/* sc-component-id: sc-fAjcbJ */
.gaNmeM {
    font-size: 1.8em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0.6;
}

.gaNmeM strong {
    margin: 0 5px;
}

/* sc-component-id: sc-caSCKo */

/* sc-component-id: sc-gisBJw */

/* sc-component-id: sc-kjoXOD */

/* sc-component-id: sc-cHGsZl */

/* sc-component-id: sc-TOsTZ */
.eaiVxQ {
    height: 42px;
    -webkit-animation: iFvAUF 0.4s ease;
    animation: iFvAUF 0.4s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@media (max-width: 999px) {
    .eaiVxQ {
        height: 60px;
        font-size: 1.4em;
    }
}

.eaiVxQ td:first-child {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

/* sc-component-id: sc-kgAjT */
.fTkCxM {
    border-collapse: collapse;
}

/* sc-component-id: sc-cJSrbW */

/* sc-component-id: sc-ksYbfQ */

/* sc-component-id: sc-hmzhuo */

/* sc-component-id: sc-frDJqD */

/* sc-component-id: sc-kvZOFW */

/* sc-component-id: sc-hqyNC */

/* sc-component-id: sc-jbKcbu */
.fSFqmP {
    padding: 0 25px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.4;
}

.fSFqmP span {
    display: block;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 125px;
    overflow: hidden;
}

.fSFqmP .image-wrapper {
    margin-right: 10px;
}

/* sc-component-id: sc-dNLxif */
.ccWqrW {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

/* sc-component-id: sc-jqCOkK */
.ffqFvl {
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 18px;
    color: #555;
    padding: 0 25px;
}

.ffqFvl:hover {
    background-color: rgba(242, 242, 247, 1.0);
}

.ffqFvl i.icon {
    margin-right: 8px;
}

/* sc-component-id: sc-uJMKN */
.deaqBI {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

/* sc-component-id: sc-bbmXgH */

/* sc-component-id: sc-gGBfsJ */

/* sc-component-id: sc-jnlKLf */

/* sc-component-id: sc-fYxtnH */
.jvSUuq {
    color: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* sc-component-id: sc-tilXH */
.cHPSQw {
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cHPSQw span {
    white-space: nowrap;
    margin-right: 5px;
}

/* sc-component-id: sc-hEsumM */
@media (max-width: 999px) {
    .iHBpSM {
        height: 60px !important;
    }
}

/* sc-component-id: sc-ktHwxA */
.eVUKKY {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* sc-component-id: sc-cIShpX */

/* sc-component-id: sc-kafWEX */

/* sc-component-id: sc-feJyhm */

/* sc-component-id: sc-iELTvK */

                                                       /* sc-component-id: sc-cmTdod */
                                                   .irukgX {
                                                       display: -webkit-box;
                                                       display: -webkit-flex;
                                                       display: -ms-flexbox;
                                                       display: flex;
                                                       position: absolute;
                                                       z-index: 1;
                                                       left: 0;
                                                       top: 0;
                                                       height: 60px;
                                                       right: 60px;
                                                       font-size: 18px;
                                                       background-color: #F3F3F3;
                                                       line-height: 60px;
                                                       cursor: text;
                                                       -webkit-transition: background 0.2s ease;
                                                       transition: background 0.2s ease;
                                                   }

.irukgX > i {
    -webkit-flex-basis: 60px;
    -ms-flex-preferred-size: 60px;
    flex-basis: 60px;
    width: 60px;
    color: rgba(0, 0, 0, .4);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.irukgX > div {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.irukgX > span {
    color: rgba(0, 0, 0, .4);
    font-size: 1.2em;
    padding-right: 15px;
}

/* sc-component-id: sc-jwKygS */

/* sc-component-id: sc-btzYZH */

/* sc-component-id: sc-lhVmIH */
.cxqPzU {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    height: 60px;
    right: 60px;
    font-size: 18px;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10px 0 15px;
    background: red;
    color: #fff;
    background-color: #F3F3F3;
    color: inherit;
    font-weight: normal;
}

.cxqPzU i {
    font-size: 2.3em;
    height: auto;
    color: white;
    -webkit-animation: dOWNlX 2s infinite;
    animation: dOWNlX 2s infinite;
}

/* sc-component-id: sc-bYSBpT */
.dTbhO {
    border: 1px solid transparent;
    height: 60px;
    background-color: #fff;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    outline: 2px solid #E57373;
    outline-offset: -2px;
    -webkit-transition: outline-color 0.3s ease;
    transition: outline-color 0.3s ease;
}

/* sc-component-id: sc-elJkPf */
.esLqY {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.esLqY > .dropdown {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative !important;
}

/* sc-component-id: sc-jtRfpW */
.bTIzMp {
    background: #fff;
    -webkit-flex-basis: 60px;
    -ms-flex-preferred-size: 60px;
    flex-basis: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ccc;
    font-size: 2em;
    cursor: pointer;
}

@media (min-width: 1000px) {
    .bTIzMp {
        display: none;
    }
}

.bTIzMp i.icon {
    margin: 0;
    height: auto;
}

/* sc-component-id: sc-kTUwUJ */

/* sc-component-id: sc-dqBHgY */

/* sc-component-id: sc-gxMtzJ */

/* sc-component-id: sc-dfVpRl */
.bMKUXX {
    position: relative;
    margin-bottom: 30px;
    background: rgba(255, 211, 0, 0.05);
}

.bMKUXX span {
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 22px;
    margin-top: -14px;
    color: rgba(0, 0, 0, 0.4);
    height: auto;
    z-index: 0;
}

/* sc-component-id: sc-gzOgki */
.cSSjPU {
    font-size: 30px;
    text-align: right;
    color: #000;
    height: 65px;
    padding: 0 10px;
    width: 100%;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    border-style: dashed;
    background: transparent;
    position: relative;
    z-index: 1;
    border-radius: 4px;
}

.cSSjPU:focus {
    border-style: solid;
}

/* sc-component-id: sc-iyvyFf */
.xRGzU {
    color: #000;
    height: 65px;
    padding: 10px;
    width: 100%;
    border-color: rgba(0, 0, 0, 0.1);
}

/* sc-component-id: sc-hwwEjo */

/* sc-component-id: sc-kPVwWT */

/* sc-component-id: sc-kfGgVZ */

/* sc-component-id: sc-esjQYD */

/* sc-component-id: sc-kIPQKe */
.dkWWdH {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.dkWWdH > div {
    -webkit-flex: 1.15;
    -ms-flex: 1.15;
    flex: 1.15;
    padding: 0 25px;
}

.dkWWdH > div:first-child {
    -webkit-flex: 0.85;
    -ms-flex: 0.85;
    flex: 0.85;
    padding-right: 40px;
}

@media (max-width: 999px) {
    .dkWWdH {
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .dkWWdH > div:last-child {
        margin-bottom: 60px;
    }
}

/* sc-component-id: sc-eXEjpC */

/* sc-component-id: sc-ibxdXY */

/* sc-component-id: sc-RefOD */

/* sc-component-id: sc-iQKALj */
.soXCc {
    width: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    background-color: #0EA432;
    -webkit-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.soXCc:hover {
    background-color: rgba(14, 164, 50, 0.8);
}

/* sc-component-id: sc-bwCtUz */
.bjWjxs {
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: relative;
    opacity: 0.6;
    pointer-events: none;
}

.ffqSLT {
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: relative;
}

/* sc-component-id: sc-hrWEMg */
@media (max-width: 999px) {
    .sQvgz .footer {
        height: 70px !important;
    }
}

/* sc-component-id: sc-eTuwsz */
.gxkwFj {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.gxkwFj > div {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    color: #fff;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 22px;
    -webkit-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #0EA432;
}

.gxkwFj > div:hover {
    background-color: rgba(14, 164, 50, 0.75);
}

.gxkwFj > div:active {
    background-color: darken(#FFD300, 10);
}

/* sc-component-id: sc-gwVKww */
.jUPzOT {
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    width: 40%;
    max-width: 600px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 999px) {
    .jUPzOT {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100% !important;
        max-width: none !important;
        border-left: none;
        z-index: 3;
    }

    .jUPzOT.active {
        height: 100vh;
        left: 0px;
    }
}

/* sc-component-id: sc-hXRMBi */
.cHHRLQ {
    pointer-events: none;
    font-size: 50px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0.5;
}

.cHHRLQ > div {
    position: relative;
    padding-bottom: 120px;
}

.cHHRLQ > div > div {
    opacity: 0.5;
}

.cHHRLQ img {
    position: absolute;
    top: 15px;
    right: 30%;
    width: 192px;
    height: 192px;
    max-width: 153px;
    max-height: 153px;
    -webkit-transform: rotate(-150deg);
    -ms-transform: rotate(-150deg);
    transform: rotate(-150deg);
    opacity: 0.1;
}

/* sc-component-id: sc-epnACN */

/* sc-component-id: sc-iQNlJl */

/* sc-component-id: sc-bsbRJL */
.dEkqLQ {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* sc-component-id: sc-hZSUBg */

/* sc-component-id: sc-cMhqgX */

/* sc-component-id: sc-iuJeZd */
.jiptiQ {
    position: relative;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: auto !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* sc-component-id: sc-esOvli */
.ftlVYe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 0;
}

/* sc-component-id: sc-cmthru */

/* sc-component-id: sc-hMFtBS */

/* sc-component-id: sc-cLQEGU */
.iSQqgt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100vh;
    overflow: hidden;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/* sc-component-id: sc-gqPbQI */
.briKsR {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.briKsR:before {
    content: '';
    top: 60px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    height: 10px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    pointer-events: none;
}

/* sc-component-id: sc-hORach */

/* sc-component-id: sc-bMVAic */
                                                       /* sc-component-id: sc-bAeIUo */

                                                       /* sc-component-id: sc-iujRgT */

                                                       /* sc-component-id: sc-GMQeP */

                                                       /* sc-component-id: sc-exAgwC */

                                                       /* sc-component-id: sc-cQFLBn */

                                                       /* sc-component-id: sc-gojNiO */

                                                       /* sc-component-id: sc-daURTG */

                                                       /* sc-component-id: sc-bXGyLb */

                                                       /* sc-component-id: sc-lkqHmb */

                                                       /* sc-component-id: sc-eLExRp */

                                                       /* sc-component-id: sc-cbkKFq */

                                                       /* sc-component-id: sc-krvtoX */

                                                       /* sc-component-id: sc-fYiAbW */

                                                       /* sc-component-id: sc-fOKMvo */

                                                       /* sc-component-id: sc-dUjcNx */

                                                       /* sc-component-id: sc-gHboQg */

                                                       /* sc-component-id: sc-eilVRo */

                                                       /* sc-component-id: sc-eerKOB */

                                                       /* sc-component-id: sc-emmjRN */

                                                       /* sc-component-id: sc-cpmLhU */

                                                       /* sc-component-id: sc-dymIpo */

                                                       /* sc-component-id: sc-bnXvFD */

                                                       /* sc-component-id: sc-gFaPwZ */

                                                       /* sc-component-id: sc-fhYwyz */

                                                       /* sc-component-id: sc-jzgbtB */

                                                       /* sc-component-id: sc-gJWqzi */

                                                       /* sc-component-id: sc-rBLzX */

                                                       /* sc-component-id: sc-bMvGRv */

                                                       /* sc-component-id: sc-CtfFt */

                                                       /* sc-component-id: sc-laTMn */

                                                       /* sc-component-id: sc-hGoxap */

                                                       /* sc-component-id: sc-fjmCvl */

                                                       /* sc-component-id: sc-TFwJa */

                                                       /* sc-component-id: sc-bHwgHz */

                                                       /* sc-component-id: sc-krDsej */

                                                       /* sc-component-id: sc-dTdPqK */

                                                       /* sc-component-id: sc-itybZL */

                                                       /* sc-component-id: sc-eMigcr */

                                                       /* sc-component-id: sc-fzsDOv */

                                                       /* sc-component-id: sc-gPWkxV */
                                                                                                          /* sc-component-id: sc-jVODtj */

                                                                                                          /* sc-component-id: sc-kUaPvJ */

                                                                                                          /* sc-component-id: sc-giadOv */

                                                                                                          /* sc-component-id: sc-fONwsr */
                                                                                                      .iTjYjY {
                                                                                                          height: 100vh;
                                                                                                          -webkit-align-items: center;
                                                                                                          -webkit-box-align: center;
                                                                                                          -ms-flex-align: center;
                                                                                                          align-items: center;
                                                                                                          -webkit-box-pack: center;
                                                                                                          -webkit-justify-content: center;
                                                                                                          -ms-flex-pack: center;
                                                                                                          justify-content: center;
                                                                                                          display: -webkit-box;
                                                                                                          display: -webkit-flex;
                                                                                                          display: -ms-flexbox;
                                                                                                          display: flex;
                                                                                                          -webkit-flex-direction: column;
                                                                                                          -ms-flex-direction: column;
                                                                                                          flex-direction: column;
                                                                                                      }

/* sc-component-id: sc-keyframes-dOWNlX */
@-webkit-keyframes dOWNlX {
    0% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
        opacity: 0;
    }
    50% {
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
        opacity: 0;
    }
}

@keyframes dOWNlX {
    0% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
        opacity: 0;
    }
    50% {
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
        opacity: 0;
    }
}

/* sc-component-id: sc-keyframes-iFvAUF */
@-webkit-keyframes iFvAUF {
    50% {
        background-color: #ef9a9a;
    }
}

@keyframes iFvAUF {
    50% {
        background-color: #ef9a9a;
    }
}

/* sc-component-id: sc-keyframes-XxSbn */
@-webkit-keyframes XxSbn {
    0% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes XxSbn {
    0% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

#carrotquest-messenger-collapsed-container.carrotquest-messenger-right_top {
    top: 0 !important;
    right: 0 !important
}

#carrotquest-messenger-collapsed-container.carrotquest-messenger-right_bottom {
    right: 0 !important;
    bottom: 0 !important
}

#carrotquest-messenger-collapsed-container.carrotquest-messenger-left_top {
    top: 0 !important;
    left: 0 !important
}

#carrotquest-messenger-collapsed-container.carrotquest-messenger-left_bottom {
    bottom: 0 !important;
    left: 0 !important
}

#carrotquest-messenger-collapsed-container #chat-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important
}

#carrotquest-messenger-collapsed-container.carrotquest-messenger-right_bottom #chat-container, #carrotquest-messenger-collapsed-container.carrotquest-messenger-right_top #chat-container {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important
}

#carrotquest-messenger-collapsed-container.carrotquest-messenger-right_bottom #chat-container, #carrotquest-messenger-collapsed-container.carrotquest-messenger-left_bottom #chat-container {
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important
}

#carrotquest-messenger-collapsed-container.carrotquest-messenger-right_top #chat-container, #carrotquest-messenger-collapsed-container.carrotquest-messenger-left_top #chat-container {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important
}

#carrotquest-messenger-collapsed-container #icon-container {
    width: 84px !important;
    min-width: 84px !important;
    height: 84px !important
}

#carrotquest-messenger-collapsed-container #bubble-container {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    max-width: 290px;
    height: 146px;
    max-height: 146px;
    margin-top: auto;
    margin-bottom: auto
}

#carrotquest-messenger-collapsed-container.carrotquest-messenger-right_bottom #bubble-container, #carrotquest-messenger-collapsed-container.carrotquest-messenger-right_top #bubble-container {
    right: -14px
}

#carrotquest-messenger-collapsed-container.carrotquest-messenger-left_bottom #bubble-container, #carrotquest-messenger-collapsed-container.carrotquest-messenger-left_top #bubble-container {
    left: -14px
}

#carrotquest-messenger-collapsed-container #carrot-messenger-bubble {
    width: 100% !important;
    height: 100% !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

#carrot-messenger-collapsed-frame {
    width: 100% !important;
    height: 100% !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

iframe {
    color-scheme: auto
}

.feature_start-screen.carrot-messenger-frame-small-chat {
    border-radius: 15px !important
}

.carrotquest-css-reset *, .carrotquest-css-reset-frame * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.carrotquest-css-reset iframe, .carrotquest-css-reset div, .carrotquest-css-reset span, .carrotquest-css-reset a, .carrotquest-css-reset button, .carrotquest-css-reset-frame iframe, .carrotquest-css-reset-frame div, .carrotquest-css-reset-frame span, .carrotquest-css-reset-frame a, .carrotquest-css-reset-frame button {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

.carrotquest-css-reset iframe, .carrotquest-css-reset-frame iframe {
    max-height: none;
    max-width: none
}

.carrotquest-message-mobil-noscroll {
    overflow: hidden !important
}

.carrot-popup-frame {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 2147483000 !important;
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    -webkit-animation: carrotquest-fadein .25s !important;
    animation: carrotquest-fadein .25s !important
}

@-webkit-keyframes carrotquest-fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes carrotquest-fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.carrot-messenger-frame-container {
    position: fixed !important;
    top: 0 !important;
    z-index: 2147483000 !important;
    width: 370px !important;
    height: 100% !important;
    max-height: 100% !important;
    -webkit-box-shadow: 0 8px 18px 0 rgba(0, 0, 0, .2), 0 0 2px 0 rgba(0, 0, 0, .05) !important;
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, .2), 0 0 2px 0 rgba(0, 0, 0, .05) !important
}

.carrot-messenger-frame-container.carrotquest-messenger-line-left {
    left: 0 !important
}

.carrot-messenger-frame-container.carrotquest-messenger-line-right {
    right: 0 !important
}

.carrot-messenger-frame-small-chat.carrot-messenger-frame-container.carrotquest-messenger-line-right {
    right: 27px !important
}

.carrot-messenger-frame-small-chat.carrot-messenger-frame-container.carrotquest-messenger-line-left {
    left: 27px !important
}

.carrot-messenger-frame-container.data-truncate-visibility {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.carrot-messenger-frame, .carrot-notification-frame {
    width: 100% !important;
    height: 100% !important
}

.carrotquest-messenger-mobile-chat {
    height: 100% !important
}

.carrot-messenger-frame-small-chat {
    top: auto !important;
    bottom: 27px !important;
    height: calc(100% - 20px - 80px - 20px) !important;
    min-height: 250px !important;
    max-height: 620px !important;
    border-radius: 10px !important
}

.carrot-messenger-frame-small-chat .carrot-messenger-frame {
    height: 100% !important;
    max-height: 100% !important
}

.carrot-messenger-frame-mobile-chat {
    height: 100% !important
}

.carrot-messenger-frame-mobile-chat .carrot-messenger-frame {
    height: 100% !important
}

.carrot-messenger-frame-small-chat .carrotquest-messenger-line-right {
    right: 50px !important
}

.carrot-messenger-frame-small-chat .carrotquest-messenger-line-left {
    left: 50px !important
}

@media only screen and (max-device-width: 667px), screen and (max-width: 450px) {
    #carrot-messenger-frame {
        left: 0 !important;
        width: 100% !important
    }

    .carrot-messenger-frame-container {
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        z-index: 2147483001 !important;
        width: 100% !important;
        height: 100% !important;
        max-height: none !important;
        border-radius: 0 !important
    }

    .carrot-messenger-frame-container.data-truncate-visibility {
        margin-top: 0 !important
    }

    div.carrot-notification-container {
        right: 0 !important
    }
}

@media screen and (max-height: 450px) {
    .carrot-messenger-frame-container.data-truncate-visibility {
        min-height: 411px !important;
        margin-top: 0 !important
    }
}

.carrotquest-messenger-line-anim {
    -webkit-animation-name: carrotquest-messenger-line-anim-right !important;
    animation-name: carrotquest-messenger-line-anim-right !important;
    -webkit-animation-duration: 150ms !important;
    animation-duration: 150ms !important;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1) !important;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1) !important
}

@-webkit-keyframes carrotquest-messenger-line-anim-right {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.6) translate(124px, 320px);
        transform: scale(0.6) translate(124px, 320px)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0)
    }
}

@keyframes carrotquest-messenger-line-anim-right {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.6) translate(124px, 320px);
        transform: scale(0.6) translate(124px, 320px)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0)
    }
}

.carrotquest-messenger-line-left {
    -webkit-animation-name: carrotquest-messenger-line-anim-left !important;
    animation-name: carrotquest-messenger-line-anim-left !important
}

@-webkit-keyframes carrotquest-messenger-line-anim-left {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.6) translate(-124px, 320px);
        transform: scale(0.6) translate(-124px, 320px)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0)
    }
}

@keyframes carrotquest-messenger-line-anim-left {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.6) translate(-124px, 320px);
        transform: scale(0.6) translate(-124px, 320px)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translate(0, 0);
        transform: scale(1) translate(0, 0)
    }
}

@-webkit-keyframes carrotquest-move-anim-r {
    0% {
        opacity: 0;
        right: -370px
    }
}

@keyframes carrotquest-move-anim-r {
    0% {
        opacity: 0;
        right: -370px
    }
}

@-webkit-keyframes carrotquest-move-anim-l {
    0% {
        opacity: 0;
        left: -370px
    }
}

@keyframes carrotquest-move-anim-l {
    0% {
        opacity: 0;
        left: -370px
    }
}

#carrot-frame-bumperCookies {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2147482999 !important;
    width: 100%;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .12), 0 0 2px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .12), 0 0 2px 0 rgba(0, 0, 0, .08)
}

#carrot-frame-bumperCookies.carrot-frame-bumperCookies-agreed {
    -webkit-transform: translateY(100%) !important;
    -ms-transform: translateY(100%) !important;
    transform: translateY(100%) !important;
    -webkit-transition: all cubic-bezier(0.4, 0, 1, 1) .2s !important;
    -o-transition: all cubic-bezier(0.4, 0, 1, 1) .2s !important;
    transition: all cubic-bezier(0.4, 0, 1, 1) .2s !important
}

.carrot-notification-container {
    position: fixed !important;
    z-index: 2147483000 !important;
    width: 330px;
    min-width: 330px !important;
    max-height: 585px !important;
    opacity: 1 !important;
    -webkit-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    transform: translateY(0) !important;
    -webkit-transition: opacity 400ms, -webkit-transform 400ms !important;
    transition: opacity 400ms, -webkit-transform 400ms !important;
    -o-transition: opacity 400ms, transform 400ms !important;
    transition: opacity 400ms, transform 400ms !important;
    transition: opacity 400ms, transform 400ms, -webkit-transform 400ms !important
}

.carrot-notification-container.hidden {
    opacity: 0 !important;
    -webkit-transform: translateY(90px) !important;
    -ms-transform: translateY(90px) !important;
    transform: translateY(90px) !important
}
   #carrotquest-messenger-collapsed-container {
       margin-bottom: 13px !important;
   }

.carrot-notification-container {
    bottom: 89px !important;
}

#carrotquest-messenger-collapsed-container {
    margin-right: 13px !important;
}

.carrot-notification-container {
    right: 5px !important;
}
